In [10]:
import pandas
import seaborn
import matplotlib.pyplot as plt

In [11]:
lrm = pandas.read_csv("lowest_ranked_movies_data.csv")
lrm

,rank,name,year,certification,duration,rating,review_count,director,writer,genre,stars
0,1,Disaster Movie,2008,PG-13,1h 27m,1.9,94K,"['Jason Friedberg', 'Aaron Seltzer']","['Jason Friedberg', 'Aaron Seltzer']","['Comedy', 'Sci-Fi']","['Carmen Electra', 'Vanessa Lachey', 'Nicole P..."
1,2,Manos: The Hands of Fate,1966,Not Rated,1h 10m,1.6,37K,['Harold P. Warren'],['Harold P. Warren'],['Horror'],"['Tom Neyman', 'John Reynolds', 'Diane Adelson']"
2,3,Birdemic: Shock and Terror,2010,Not Rated,1h 45m,1.7,25K,['James Nguyen'],"['Writer', 'James Nguyen', '']","['Horror', 'Thriller']","['Alan Bagh', 'Whitney Moore', 'Tippi Hedren']"
3,4,Superbabies: Baby Geniuses 2,2004,PG,1h 28m,1.5,32K,['Bob Clark'],"['Writers', 'Robert Grasmere', 'Francisca Mato...","['Comedy', 'Family', 'Sci-Fi']","['Jon Voight', 'Scott Baio', 'Vanessa Angel']"
4,5,The Hottie & the Nottie,2008,PG-13,1h 31m,2.0,39K,['Tom Putnam'],['Heidi Ferrer'],"['Comedy', 'Romance']","['Paris Hilton', 'Joel David Moore', 'Christin..."
...,...,...,...,...,...,...,...,...,...,...,...
95,96,The Love Guru,2008,PG-13,1h 27m,3.8,54K,['Marco Schnabel'],"['Mike Myers', 'Graham Gordy']","['Comedy', 'Romance', 'Sport']","['Mike Myers', 'Jessica Alba', 'Romany Malco']"
96,97,The Hungover Games,2014,R,1h 25m,3.5,16K,['Josh Stolberg'],"['Writers', 'Kyle Barnett Anderson', 'David Be...","['Adventure', 'Comedy', 'Fantasy']","['Ben Begley', 'Herbert Russell', 'Ross Nathan']"
97,98,In the Name of the King: A Dungeon Siege Tale,2007,PG-13,2h 7m,3.8,51K,['Uwe Boll'],"['Writers', 'Doug Taylor', 'Jason Rappaport', ...","['Action', 'Adventure', 'Fantasy']","['Jason Statham', 'Ron Perlman', 'Ray Liotta']"
98,99,The Avengers,1998,PG-13,1h 29m,3.8,45K,['Jeremiah S. Chechik'],"['Sydney Newman', 'Don MacPherson']","['Action', 'Adventure', 'Sci-Fi']","['Ralph Fiennes', 'Uma Thurman', 'Sean Connery']"
99,100,The Flintstones in Viva Rock Vegas,2000,PG,1h 30m,3.7,25K,['Brian Levant'],"['Writers', 'William Hanna', 'Joseph Barbera',...","['Comedy', 'Family', 'Romance']","['Mark Addy', 'Stephen Baldwin', 'Kristen John..."