In [15]:
import pandas
import seaborn
import matplotlib.pyplot as plt

In [16]:
salaryData = pandas.read_csv("Salary.csv")
salaryData

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0
...,...,...,...,...,...,...,...,...,...
6679,49.0,Female,3,Director of Marketing,20.0,200000.0,UK,Mixed,0
6680,32.0,Male,0,Sales Associate,3.0,50000.0,Australia,Australian,0
6681,30.0,Female,1,Financial Manager,4.0,55000.0,China,Chinese,0
6682,46.0,Male,2,Marketing Manager,14.0,140000.0,China,Korean,0
6683,26.0,Female,0,Sales Executive,1.0,35000.0,Canada,Black,0

In [23]:
salaryData["Salary"].describe()

count      6684.000000
mean     115307.175194
std       52806.810881
min         350.000000
25%       70000.000000
50%      115000.000000
75%      160000.000000
max      250000.000000
Name: Salary, dtype: float64

In [21]:
salaryData["Salary"].mode()

0    140000.0
Name: Salary, dtype: float64

In [24]:
salaryData["Salary"].unique()

array([ 90000.,  65000., 150000.,  60000., 200000.,  55000., 120000.,
        80000.,  45000., 110000.,  75000., 140000., 130000.,  40000.,
       125000., 115000.,  35000., 180000., 190000.,  50000., 250000.,
       170000., 160000.,  85000.,  95000., 105000.,  70000., 100000.,
        30000., 135000., 220000., 175000., 185000., 145000., 155000.,
          350., 195000., 198000., 196000., 193000.,  92000., 165000.,
       162000., 197000., 142000., 182000., 210000.,    550., 122485.,
       169159., 187081.,  78354.,  90249., 132720., 161568., 127346.,
       120177., 101332., 121450., 166375., 185119., 149217., 166512.,
       186963.,  75072., 163398., 103947., 179180., 175966., 190004.,
       152039.,  76742., 191790., 139398.,  95845., 160976., 126753.,
       139817., 181714., 114776., 105725.,  52731., 106492.,  73895.,
       119836.,  99747., 168287., 115920., 128078.,  51265., 165919.,
       188651.,  55538., 193964., 104702., 172955., 138032.,  82683.,
       155414., 154207., 107895., 148446., 102859., 138662., 181699.,
       188232.,  51832., 188484., 138286., 181132.,  73938., 119224.,
       101186., 142360., 151315., 181021., 134641., 173851., 178859.,
        98568., 104661., 134858.,  94502., 139095., 106278.,  90452.,
       168304., 126593., 152203., 183138., 130275., 191915.,  62807.,
       174305., 133326.,  75656., 155944., 137775.,  51831., 182237.,
       151901., 100052., 167207., 112439., 194214.,  84407., 139413.,
       143084., 192344., 106132., 184816., 150248., 170995.,  88035.,
       119419., 173582., 174436.,  71699., 163558., 166828., 144496.,
       193746., 122581.,  79767., 177177.,  89843., 113563., 128712.,
       161621., 121454., 179987.,  72649.,  52612., 184006., 131960.,
       102465., 149748., 171036., 146351., 185462., 107718.,  90944.,
       100425.,  63901., 181902., 136533., 136285., 191818., 176643.,
        70022.,  99363., 152944., 123386., 168906., 183020.,  47898.,
       135853., 149198., 106662., 186610.,  89995.,  85825., 143814.,
       174726., 150534.,  68732., 187951., 137336., 191159., 102868.,
       154281., 111535., 107906., 143885., 180958., 108607., 178284.,
        75969., 143705., 197354., 174324., 123781., 141735., 187120.,
        61095., 179045., 130355., 103282., 157872., 117314., 186321.,
       129686.,  68611., 177913.,  68472., 113065., 125091., 172925.,
       126916., 183417.,  76898.,    579., 103579., 163780., 137878.,
        92438.,  84181., 174821., 126520., 152168., 190543., 131547.,
       192292.,  52807., 174938., 124071.,  73640., 156486., 138859.,
        52831., 182392., 151078., 100679., 167924., 113334., 194778.,
        77606., 140010., 142421., 192756., 106686., 186794., 150729.,
       171652.,  88552., 119918., 174985., 174336.,  72389., 163978.,
       166958., 145052., 195270., 122970.,  80247., 177862.,  91062.,
       114290., 128999., 162454., 122354., 179756.,  73218., 184480.,
       132442., 102828., 150301., 171468., 147326., 185982., 108267.,
        91397., 100867.,  64182., 182506., 136986., 136662., 191510.,
       177347.,  70397., 146075., 155795., 132638., 178684., 106218.,
       191239.,  65840.,  52779., 185038., 136449., 110707., 151670.,
       167015., 146508., 190596., 104378.,  70216., 101733.,  55935.,
       180367., 135596., 136062., 191267.,  82944., 188288., 141090.,
       152726., 124141.,  67556., 182768., 148727.,  91903., 147708.,
       163209., 120288., 170226., 134979., 137489.,  83577., 117904.,
       134482., 184660., 100151.,  88678., 181285., 154990., 108204.,
       175684.,  77766., 192211., 144647., 162231., 121120.,  79652.,
       177002.,  87584., 131860., 182013., 108799., 135378., 183530.,
       150901.,  82697., 194638., 130356., 152560., 121432.,  63789.,
       183690., 151310., 100358., 148437., 168691.,  32000.,  38000.,
        89000.,  33000.,  25000.,  62000., 138000.,  47000.,  26000.,
       174000.,  41000.,  99000., 117000., 225000.,  36000., 146000.,
       113000., 168000., 122000.,  96000.,  49000.,  68000., 127000.,
        71000., 240000., 152000., 119000., 131000., 101000., 137000.,
       112000.,  91000., 179000.,  74000., 228000.,  37000., 204000.,
        61000., 157000.,  52000.,  58000., 219000.,  77000., 104000.,
       183000.,  43000.,  48000.,  42000.,    500.,  57000.,  72000.,
        31000.,  28000., 215000.])